export(generate_weights)
export(weighted_nnSVG)
import(BRISC)
import(BiocParallel)
import(Matrix)
import(SpatialExperiment)
import(nnSVG)
import(purrr)
import(scuttle)
importFrom("methods", "is")
importFrom("stats", "predict", "sd", "smooth.spline")
importFrom("utils", "packageVersion")
